{% extends "base.html" %}
{% block content %}
<div class="container">
    <nav aria-label = "breadcrumb">
        <ol class = "breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "caukien" %}">Cấu kiện</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa cấu kiện</li>
        </ol>
    </nav>



    <div class="card">
        <div class="card-body">
            <form action="{% url "edit-caukien" caukien.id %}" method="post">
                {% include "partials/_messages.html" %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Tên cấu kiện: </label>
                    <input type="text" class="form-control form-control-sm" name="name" value= "{{values.name}}">
                </div>
                <div class="form-group">
                    <label for="">B: </label>
                    <input type="number" class="form-control form-control-sm" name="b" value= "{{values.b}}">
                    
                </div>
                <div class="form-group">
                    <label for="">H: </label>
                    <input type="number" class="form-control form-control-sm" name="h" value= "{{values.h}}">
                </div>
                <div class="form-group">
                    <label for="">L: </label>
                    <input type="number" class="form-control form-control-sm" name="L" value= "{{values.L}}">
                </div>
                <div class="form-group">
                    <label for="">Cấp độ bền: </label>
                    <select class="form-control" name = "cben" value = "{{values.cben}}">
                        <option>--Bê tông--</option>
                        <option>B20</option>
                        <option>B25</option>
                        <option>B45</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Nhóm thép: </label>
                    <select class="form-control" name = "nthep" value = "{{values.nthep}}">
                        <option>--Thép--</option>
                        <option>AI</option>
                        <option>AII</option>
                        <option>CB400V</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Thép phía dưới: </label>
                    <input type="text" class="form-control form-control-sm" name="thepd" value= "{{values.thepd}}">
                </div>
                <div class="form-group">
                    <label for="">Chiều dày lớp bảo vệ phía dưới: </label>
                    <input type="number" class="form-control form-control-sm" name="a" value= "{{values.a}}">
                </div>
                <div class="form-group">
                    <label for="">Thép phía trên: </label>
                    <input type="text" class="form-control form-control-sm" name="thept" value= "{{values.thept}}">
                </div>
                <div class="form-group">
                    <label for="">Chiều dày lớp bảo vệ phía trên: </label>
                    <input type="number" class="form-control form-control-sm" name="a1" value= "{{values.a1}}">
                </div>
                <br >
                <input type="submit" value="Lưu" class="btn btn-primary btn-primary-sm">
                <a href="{% url "caukien" %}" class = "btn btn-block btn-secondary">Hủy bỏ</a>
            </form>
        </div>
    </div>

</div>
{% endblock content %}
