{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-md-flex justify-content-between align-items-center">
    <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
            <li class="breadcrumb-item text-capitalize"><a href="{% url "tinhvetnut" %}">Tinh toán vết nứt</a></li>
            <li class="breadcrumb-item text-capitalize active" aria-current="page">Tính toán</li>
        </ul>
    </nav>
</div>
<div class="col-md-12 grid-margin stretch-card mb-2" >
    <div class="card">
        <div class="card-body" style="background-color: darkgray;">
            <div class="row">
                {% csrf_token %}
                <div class="col-lg-2 mb-2">
                    <label>Tên cấu kiện: </label>
                    <select class="form-control" id="caukien">
                        {% for option in caukien %}
                            <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 mb-2">
                    <label>Mô-men dài hạn(kN.m): </label>
                    <input class="form-control" placeholder="Nhập mô-men dài hạn" type="number" autocomplete="off" id="Mdh">
                </div>
                <div class="col-lg-3 mb-2">
                    <label>Mô-men toàn phần(kN.m): </label>
                    <input class="form-control" placeholder="Nhập tĩnh tải" type="number" autocomplete="off" id="Mtp">
                </div>
                <div class="col-lg-3 mb-2">
                    <label>Mô-men ngắn hạn(kN.m): </label>
                    <input class="form-control" placeholder="Nhập tĩnh tải" type="number" autocomplete="off" id="Mnh">
                </div>
                <div class="col-lg-2 mb-2" >
                    <br />
                        <input type="submit" id="btnTinhtoan" value="Tính toán" class="btn btn-block btn-primary submit-btn">
                </div>
                {% include "partials/_messages.html" %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card mb-2">
    <div class="card">
        <div class="card-body" style="background-color: darkgray;">
            <a href="" class = "btn btn-block btn-primary" style="100px;">Hiển thị chi tiết kết quả tính toán</a>
            <div>
                <div class="row">
                    <div class="col-lg-3 mb-2">
                        <label>Mcrc(KN.m): </label>
                        <input class="form-control" id="Mcrc" value="{{Mcrc}}" placeholder="Mcrc" type="text" autocomplete="off" readonly = "True">
                    </div> 
                    <div class="col-lg-7 mb-2">
                        <label>Kết luận việc xuất hiện vết nứt: </label>
                        <input class="form-control" id = "Kqkiemtranut" value="{{kqkiemtranut}}" placeholder="Có/Không xuất hiện vết nứt" type="text" autocomplete="off" readonly = "True">
                    </div>
                    <div class="col-lg-3 mb-2">
                        <label>acrc = acrc1(kN): </label>
                        <input class="form-control" id="Acrcdh" value="{{acrcdh}}" placeholder="acrc" type="text" autocomplete="off" readonly = "True">
                    </div>
                    <div class="col-lg-7 mb-2">
                        <label>Kết luận chịu tải dài hạn(kN): </label>
                        <input class="form-control" id="Kqkiemtradh" value="{{kqkiemtradh}}" placeholder="Đủ/Không đủ chịu tải dài hạn" type="text" autocomplete="off" readonly = "True">
                    </div>
                    <div class="col-lg-3 mb-2">
                        <label>acrc = acrc1+acrc2-acrc3(kN): </label>
                        <input class="form-control" id="Acrcnh" value="{{acrcnh}}" placeholder="acrc" type="text" autocomplete="off" readonly = "True">
                    </div>
                    <div class="col-lg-7 mb-2">
                        <label>Kết luận chịu tải ngắn hạn(kN): </label>
                        <input class="form-control" id="Kqkiemtranh" value="{{kqkiemtranh}}" placeholder="Đủ/Không đủ chịu tải ngắn hạn" type="text" autocomplete="off" readonly = "True">
                    </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script>
    document.getElementById("btnTinhtoan").addEventListener("click", async function() {
        const caukien = document.getElementById('caukien').value;
        const mdh = parseFloat(document.getElementById('Mdh').value);
        const mtp = parseFloat(document.getElementById('Mtp').value);
        const mnh = parseFloat(document.getElementById('Mnh').value);
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        if(isNaN(mdh)||isNaN(mtp)||isNaN(mnh)){
            alert("Vui lòng nhập giá trị cho mô-men dài hạn, toàn phần và ngắn hạn.");
            return;
        }
        const urlParams = new URLSearchParams();
        urlParams.append("caukien",caukien);
        urlParams.append("mdh",mdh);
        urlParams.append("mtp",mtp);
        urlParams.append("mnh",mnh);
        fetch(`/tinhvetvut?${urlParams.toString()}`)
        .then(response => response.text())
        .then(data => {
            const parsedData = new DOMParser().parseFromString(data, "text/html");
            const mcrcValue = parsedData.querySelector("#Mcrc").value;
            const kqkiemtranutValue = parsedData.querySelector("#Kqkiemtranut").value;
            const acrcdhValue = parsedData.querySelector("#Acrcdh").value;
            const kqkiemtradhValue = parsedData.querySelector("#Kqkiemtradh").value;
            const acrcnhValue = parsedData.querySelector("#Acrcnh").value;
            const kqkiemtranhValue = parsedData.querySelector("#Kqkiemtranh").value;
           document.getElementById('Mcrc').value = mcrcValue; 
           document.getElementById('Kqkiemtranut').value = kqkiemtranutValue; 
           document.getElementById('Acrcdh').value = acrcdhValue; 
           document.getElementById('Kqkiemtradh').value = kqkiemtradhValue; 
           document.getElementById('Acrcnh').value = acrcnhValue; 
           document.getElementById('Kqkiemtranh').value = kqkiemtranhValue; 
        });
    });
</script>
{% endblock script %}

{% endblock content %}