{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-md-flex justify-content-between align-items-center">
    <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
        <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
            <li class="breadcrumb-item text-capitalize"><a href="{% url "tinhmomen" %}">Tinh toán Moment</a></li>
            <li class="breadcrumb-item text-capitalize active" aria-current="page">Tính toán</li>
        </ul>
    </nav>
</div>
<div class="col-md-12 grid-margin stretch-card mb-2" >
    <div class="card">
        <div class="card-body" style="background-color: darkgray;">
            <div class="row">
                {% csrf_token %}
                <div class="col-lg-3 mb-2">
                    <label>Tên cấu kiện: </label>
                    <select class="form-control" id="caukien">
                        {% for option in caukien %}
                            <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-3 mb-2">
                    <label>Tĩnh tải(kN): </label>
                    <input class="form-control" placeholder="Nhập tĩnh tải" type="number" autocomplete="off" id="tinhtai">
                </div>
                <div class="col-lg-3 mb-2">
                    <label>Hoạt tải(kN): </label>
                    <input class="form-control" placeholder="Nhập hoạt tải" type="number" autocomplete="off" id="hoattai">
                </div>
                <div class="col-lg-3 mb-2" >
                    <br />
                        <input type="submit" id="btnTinhtoan" value="Tính toán" class="btn btn-block btn-primary submit-btn">
                </div>
                {% include "partials/_messages.html" %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 grid-margin stretch-card mb-2">
    <div class="card">
        <div class="card-body" style="background-color: darkgray;">
            <div id="ListDataTable" class="table-responsive">
                <table id="trans-listing" class="table table-bordered mt-2" style="width: 100%">
                    <thead style="text-align:center">
                        <tr class="table-primary text-center">
                            <th class="vertical-mid">Vị trí</th>
                            <th class="vertical-mid">Mtt(KN.m)</th>
                            <th class="vertical-mid">Mht(KN.m)</th>
                            <th class="vertical-mid">Mdh(KN.m)</th>
                            <th class="vertical-mid">Mtp(KN.m)</th>
                            <th class="vertical-mid">Mnh(KN.m)</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: white;">
                        <tr class="table text-center">
                            <td class="vertical-mid">Đầu dầm</td>
                            <td class="vertical-mid">{{Mdau.Mttd}}</td>
                            <td class="vertical-mid">{{Mdau.Mhtd}}</td>
                            <td class="vertical-mid">{{Mdau.Mdhd}}</td>
                            <td class="vertical-mid">{{Mdau.Mtpd}}</td>
                            <td class="vertical-mid">{{Mdau.Mnhd}}</td>
                        </tr>
                   
                    
                        <tr class="table text-center">
                            <td class="vertical-mid">Giữa dầm</td>
                            <td class="vertical-mid">{{Mgiua.Mttg}}</td>
                            <td class="vertical-mid">{{Mgiua.Mhtg}}</td>
                            <td class="vertical-mid">{{Mgiua.Mdhg}}</td>
                            <td class="vertical-mid">{{Mgiua.Mtpg}}</td>
                            <td class="vertical-mid">{{Mgiua.Mnhg}}</td>
                        </tr>
                    </tbody>
                </table>
                {% comment %} <div class="pagination-container">
                    <div class="" style="color: white;">
                        Showing page{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </div>
                
                    <ul class="pagination align-right float-end mr-auto">
                    {% if page_obj.has_previous %}
                        <li{% if page_obj.number == 1 %} class="page-item active"{% endif %}><a class="page-link" href = "?page=1">&laquo; 1</a></li>
                        <li class= "page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class"page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class"page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                    {% endif %}
                    </ul>
                </div>   {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% block script %}
<script>
    window.addEventListener("load", function() {
        document.getElementById("btnTinhtoan").click();
        const storedValuecaukien = localStorage.getItem("caukien");
        const storedValuetinhtai = localStorage.getItem("tinhtai");
        const storedValuehoattai = localStorage.getItem("hoattai");
       if(storedValuecaukien || storedValuetinhtai || storedValuehoattai){
        document.getElementById('caukien').value = storedValuecaukien;
        document.getElementById('tinhtai').value = storedValuetinhtai;
        document.getElementById('hoattai').value = storedValuehoattai;
        loadData(storedValuecaukien,storedValuetinhtai,storedValuehoattai)
       }
    });

    
    function loadData(caukien,tinhtai,hoattai){
        const urlParams = new URLSearchParams(window.location.search);
        const currentPage = urlParams.get("page") || 1; // Lấy giá trị hiện tại của tham số `page` hoặc mặc định là 1
        fetch(`/tinhmomen?${urlParams.toString()}&page=${currentPage}`)
        .then(response => response.text())
        .then(data => {
            const parsedData = new DOMParser().parseFromString(data, "text/html");
            const filteredTableBody = parsedData.querySelector("#ListDataTable tbody");
            document.getElementById("ListDataTable").querySelector("tbody").innerHTML = filteredTableBody.innerHTML;
        })
        .catch(error => console.error(error));
    }

    document.getElementById("btnTinhtoan").addEventListener("click", async function() {
        const caukien = document.getElementById('caukien').value;
        const tinhtai = parseFloat(document.getElementById('tinhtai').value);
        const hoattai = parseFloat(document.getElementById('hoattai').value);
        localStorage.setItem("caukien",caukien)
        localStorage.setItem("tinhtai",tinhtai)
        localStorage.setItem("hoattai",hoattai)
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        if(isNaN(tinhtai)||isNaN(hoattai)){
            alert("Vui lòng nhập giá trị cho tĩnh tải và hoạt tải.");
            return;
        }
        const urlParams = new URLSearchParams();
        urlParams.append("caukien",caukien);
        urlParams.append("tinhtai",tinhtai);
        urlParams.append("hoattai",hoattai);
        fetch(`/tinhmomen?${urlParams.toString()}`)
        .then(response => response.text())
        .then(data => {
           const parsedData = new DOMParser().parseFromString(data, "text/html");
           const filteredTableBody = parsedData.querySelector("#ListDataTable tbody");
           document.getElementById("ListDataTable").querySelector("tbody").innerHTML = filteredTableBody.innerHTML;
        });
    });
</script>
{% endblock script %}
{% endblock content %}