{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=" justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Mọi thắc mắc xin liên hệ tới Ngô Duy Lợi:</h3>
    <h4><img src="{% static 'img/favicons/fb.png' %}" style = "height: 15px; margin-left:6px;"><a href="https://www.facebook.com/profile.php?id=100026597030465"> : Ngô Lợi</a></h4>
    <h4><img src="{% static 'img/favicons/gmail.jpg' %}"style = "height: 20px;">: loi143061@gmail.com</h4>
</div>
{% endblock content %}